<template>
    <div>
        <div class="md-form col-md-3 mx-auto m-5 p-1">
            <i class="fas fa-user prefix"></i>
            <input name="username" v-model="input.username" type="text" id="inputIconEx2" class="form-control">
            <label for="inputIconEx2">Identifiant</label>
        </div>
        <div class="md-form col-md-3 mx-auto m-5 p-1">
            <i class="fas fa-lock prefix"></i>
            <input name="password" v-model="input.password" type="password" id="inputValidationEx2" class="form-control">
            <label for="inputValidationEx2">Mot de passe</label>
        </div>
        <div class="col-md-3 mx-auto m-5">
            <button type="button" v-on:click="login()" class="btn btn-primary btn-lg btn-block">Connexion</button>
        </div>
        <div class="col-md-3 mx-auto m-5 alert alert-warning invisible" id="error">

        </div>
        <div id="connexion">

        </div>
    </div>
</template>

<script>
    export default {
        name: "Connexion",
        data(){
            return{
                input:{
                    username: "",
                    password: "",
                }
            }
        },
        methods:{
            login(){
                if(this.input.username != "" && this.input.password != ""){
                    $.ajax({
                        url : '192.168.43.159:8000', // La ressource ciblée
                        type : 'GET', // Le type de la requête HTTP.
                        data : 'login=' + this.input.username + '&mdp=' + this.input.password
                    });

                    $.ajax({
                        type:"GET",
                        url : '192.168.43.159:8000',
                        data : 'login=' + this.input.username + '&mdp=' + this.input.password,
                        success: function (json) {
                            var status = json.status;
                            if(status){
                                // Connected
                                alert("Logged !");
                            }
                            else{
                                // Not connected
                                alert("Not logged...");
                            }
                        },
                        error: function(e) {
                            // Pb requete
                            alert("Pb requete...");
                        }
                    });

                    /*
                    if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password){
                        this.$emit("authenticated", true);
                        this.$router.replace({name: "Home"});
                    } else {
                        document.getElementById("error").className = "col-md-3 mx-auto m-5 alert alert-warning";
                        document.getElementById("error").innerHTML="Identifiant ou mot de passe incorrect"
                    }
                    */
                } else {
                    document.getElementById("error").className = "col-md-3 mx-auto m-5 alert alert-warning";
                    document.getElementById("error").innerHTML="Identifiant et mot de passe doivent etre saisis"
                }
            },
            testConnection(){
                var status = navigator.onLine ? 'online' : 'offline';
                if (!status){
                    //rajouter un bouton pour la connexion hors ligne
                }
                else{

                }
            }
        },
        mounted(){
            this.testConnection();
        }
    }
</script>

<style scoped>

</style>