<template>
    <div class="container">
        <div class="col-md-3 mx-auto m-5">
            <router-link to="/POR"><button v-on:click="emitEpreuve('Parcours d’Orientation et de Régularité')" type="button" class="btn btn-primary btn-lg btn-block">Parcours d’Orientation et de Régularité</button></router-link>
        </div>

        <div class="col-md-3 mx-auto m-5">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">
                Parcours en Terrain Varié
            </button>
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Epreuves du parcours en terrain varié</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <router-link to="/PTV"><button v-on:click="emitEpreuve('Parcours en Terrain Varié')" type="button" class="btn btn-primary" data-dismiss="modal">Valider</button></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto m-5">
            <router-link to="/MA"><button v-on:click="emitEpreuve('Maîtrise des Allures')" type="button" class="btn btn-primary btn-lg btn-block">Maîtrise des Allures</button></router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        data(){
            return{
                epreuve: ''
            }
        },
        methods: {
            emitEpreuve: function(nomEpreuve){
                this.$emit('update-epreuve', nomEpreuve);
            }
        }
    }
</script>

<style scoped>

</style>