<template>
    <div>
        <div class="col-md-3 mx-auto m-5">
            <router-link to="/Home"><button v-on:click="emitEpreuve('')" type="button" class="btn btn-primary btn-lg btn-block">Menu Principal</button></router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MA",
        data(){
            return{
                epreuve: ''
            }
        },
        methods: {
            emitEpreuve: function(nomEpreuve){
                this.$emit('update-epreuve', nomEpreuve);
            }
        }
    }
</script>

<style scoped>

</style>