<template>
    <div>
        <div class="col-md-3 mx-auto m-5">
            <form id="monForm" name="monForm">

            </form>
        </div>
        <div class="col-md-3 mx-auto m-5">
            <button v-on:click="getForm()" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">
                Envoyer
            </button>
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Informations</h5>
                        </div>
                        <div>
                        <br class="modal-body">
                            <p class="text-center">Vos données saisies ont été envoyées.</p><br/>
                            <p class="text-center">Voulez-vous saisir de nouveau ou retourner au menu ?</p><br/>
                            <button type="button" class="btn btn-primary mb-5 ml-5" data-dismiss="modal">Saisir de nouveau</button>
                            <router-link to="/Home"><button type="button" class="btn btn-primary mb-5 ml-5" data-dismiss="modal">Retour au menu</button></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import json from '../assets/fosse_en_main.json';
    export default {
        name: "PTV",
        data(){
            return{
                epreuve: ''
            }
        },
        methods: {
            emitEpreuve: function(nomEpreuve){
                this.$emit('update-epreuve', nomEpreuve);
            },
            showform:function(json_data) {
                var form_content = "";

                json_data.forEach(function (input) {

                    var type = input.type;
                    var name = input.name;
                    var placeholder = input.placeholder;

                    switch (type) {
                        case 'text':
                            form_content += '<div class="form-group"><input type="' + type + '" class="form-control" name="' + name + '" placeholder="' + placeholder + '" /></div>';
                            break;
                        case 'select':
                            var options = input.options;

                            form_content += '<label for="' + name + '">' + name + ':</label>';
                            form_content += '<select id="' + name + '" class="browser-default custom-select mb-2" name="' + name + '">';

                            options.forEach(function (option) {
                                form_content += '<option value="' + option.value + '">' + option.label + '</option>';
                            });

                            form_content += '</select>';
                            break;
                        case 'checkboxes':
                            var checkboxes = input.checkboxes;
                            var count = 1;

                            checkboxes.forEach(function (checkbox) {
                                form_content += '<div class="custom-control custom-checkbox">';
                                form_content += '<input type="checkbox" class="custom-control-input" id="' + name + count + '" name="' + name + '[]" value="' + checkbox.value + '">';
                                form_content += '<label for="' + name + count + '" class="custom-control-label">' + checkbox.label + '</label> <br/><br/>';
                                form_content += '</div>';

                                count++;
                            });
                            break;
                        case 'checkbox':
                            var label = input.label;

                            form_content += '<div class="custom-control custom-checkbox">';
                            form_content += '<input type="checkbox" class="custom-control-input" id="' + name + '" name="' + name + '">';
                            form_content += '<label for="' + name + '" class="custom-control-label">' + label + '</label> <br/><br/>';
                            form_content += '</div>';
                            break;
                        case 'textarea':
                            var label = input.label;

                            form_content += '<textarea class="class="form-control rounded-0 mb-4" name="' + name + '" placeholder="' + label + '" rows="4"></textarea><br/>';
                            break;


                    }
                });
                $('#monForm').append(form_content);
            },
            getForm: function(){
                console.log("dispositif : " + document.forms["monForm"].elements[0].value);
                console.log("nom : " + document.forms["monForm"].elements[1].value);
                console.log("dossard : " + document.forms["monForm"].elements[2].value);
                console.log("contrat : " + document.forms["monForm"].elements[3].value);
                console.log("style : " + document.forms["monForm"].elements[4].value);
                console.log("etrier : " + document.forms["monForm"].elements[5].value);
                console.log("brutalite : " + document.forms["monForm"].elements[6].value);
                console.log("franchissement : " + document.forms["monForm"].elements[7].value);
                console.log("Observation : " + document.forms["monForm"].elements[8].value);
                console.log("Penalite : " + document.forms["monForm"].elements[9].value);
                console.log("chute : " + document.forms["monForm"].elements[10].value);
                console.log("Erreur : " + document.forms["monForm"].elements[11].value);

                document.forms["monForm"].reset();
            }
        },
        mounted(){
            this.showform(json);
            }

    }
</script>

<style scoped>

</style>