<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" href="#">Equitrec</span>
        <div>
            <span class="align-baseline">
                {{epreuve}}
            </span>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navigation",
        props:{
            epreuve: String
        },
        watch:{
            showEpreuve: function(monEpreuve){
                return this.epreuve = monEpreuve;
            }
        }
    }
</script>

<style scoped>

</style>