<template>
    <div id="app">
        <navigation :epreuve="epreuveFromChild"></navigation>
        <router-view @authentificated="setAuthentificated" v-on:update-epreuve="updateEpreuveFromChild"></router-view>
    </div>
</template>

<script>
    import Navigation from './components/Navigation.vue'

    export default {
        name: 'app',
        components: {
            Navigation
        },
        data(){
            return{
                epreuveFromChild:'',
                authentificated: false,
                mockAccount:{
                    username: getUsername(),
                    password: getPassword()
                }
            }
        },
        mounted(){
            if(!this.authentificated){
                this.$router.replace({ name: "Connexion"})
            }
        },
        methods:{
            updateEpreuveFromChild: function(epreuve){
                this.epreuveFromChild = epreuve;
            },
            setAuthentificated(status){
                this.authentificated = status;
            }
        }
    }

    function getUsername(){
        return "Ort";
    }

    function getPassword(){
        return "Ortmdp"
    }
</script>

<style>

</style>
